@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

// Variable 
$dark-blue: rgb(0, 0, 51);
$white: rgb(243, 243, 243);
$text-stroke: 3px $dark-blue;
$background: rgb(243, 243, 243);
$black: #000000;
$default-font-size: 20px;
$default-padding: 30px;
$default-margin: 50px;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  font-size: $default-font-size;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  color: $white;
  background-color: $dark-blue;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo h1 {
    height: 100%;
    padding-left: 25px;
    font-size: 28px;
    font-weight: normal;
  }
    
  .menu {
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
  }
  .nav-links {
    display: none;    
    text-decoration: none;
    font-size: 20px;
    .nav {
      color: $white;
      text-decoration: none;
    }
  }
  &:hover, &.--show {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: auto;
      padding: 20px;
      background-color: $dark-blue;

      .nav {
        margin: 10px;
      }
    }
  }
}

.heading {
  font-size: 35px;
  color: $dark-blue;
  display: flex;
  justify-content: center;
}

#about {
  width: 100%;
  padding: 100px 0;
  background-image: url(../image/background-unsplash.jpg);
  background-size: cover;

  .name {
    margin: 50px;
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    color: $dark-blue;
    p {
      font-size: 35px;
    }
  }
}

#intro {
  .intro {
    padding: 30px;
    color: $black;
    
    .p {
      margin-bottom: 15px;     
    }
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $default-padding;
  margin-top: $default-margin;

  .projects-container-main {
    margin: $default-margin 0;
    .project {
      width: 100%;
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
       p {
        margin-bottom: 10px;
      }
      .box {
        width: 400px;
        height: 300px;
        background-color: $dark-blue;
        color: $white;
        background-image: url('https://via.placeholder.com/300');
        background-size: cover;
        background-repeat: no-repeat;

        &.project-one {
          background-image: url('../image/calculator-project.png');
        }
  
        .project-img {
          width: 100%;
          height: 100%;
        }
  
        .description {
          height: calc(100% - 40px);
          padding: 20px;
          text-align: center;
  
          p {
            display: none;
          }
        }
  
        &:hover {
          background-image: none;
  
          .description{
            display: flex;
            align-items: center;
  
            p {
              display: block;
            }
          }
        }
      }
  
      .links {
        width: 400px;
        display: flex;
        justify-content: space-around;
  
        .link {
          color: $black;
          margin-top: 10px;
          font-size: 40px;
        }
      }
    }
}
 
}

#experience {
  width: calc(100% - 60px);
  padding: $default-padding;
  
  .background {
    margin: $default-margin 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    .history {
      margin: 20px;
      text-align: center;

      h3 { 
      font-style: italic;
      color: $dark-blue;
      }

      .icons-container {
        padding: 20px;
        font-size: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .icon {
          padding: 20px;
          transition: transform 1s;

          &:hover {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

#contact {
  width: 100%;

  .contact_container {
    background-color: $dark-blue;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    width: calc(100% - 80px);

    .contact_image {  
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 30px;
      padding-top: 12px;

      .contact-img {
        width: 220px;
        height: 220px;
        border: 2px solid black;
        border-radius: 150px;
      }
    }

    .contact_info {
      margin: 15px;

      h2 {
        font-size: 30px;
        margin: 10px 0;
      }

      p {
        font-size: 18px;
        margin-bottom: 10px;

        .resume {
          color: $background;
        }
      }
    }

    .contact_links_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $white;

      .contact-link {
        color: $white;
        margin: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        p {
          font-size: 15px;
        }

        .contact-icon {
          color: $white;          
          font-size: 50px;
        }
      }
    }
  }
}

// Tablet/Desktop site
@media screen and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

   .logo h1 {
     font-size: 30px;
   }
    .nav-links {
      position: static;
      top: auto;
      right: 10px;
      display: flex;
      flex-direction: row;
      width: auto;
      padding: 0;
      background-color: $dark-blue;
      width: 70%;
      justify-content: flex-end;
      padding-right: 15px;
      .nav {
        margin: 10px;
        font-size: 25px;
        color: $white;
        text-decoration: none;
        padding-left: 20px;
      }
    }

    &:hover, &.--show {
      .nav-links {
        position: static;
        top: auto;
        right: 10px;
        display: flex;
        flex-direction: row;
        width: auto;
        padding: 0;
        background-color: $dark-blue;
        width: 70%;
        justify-content: flex-end;
        padding-right: 15px;
      }
    }

    .menu {
      display: none;
    }
  }

  #about {
    height: calc(100vh - 200px);

    .name {
      font-size: 55px;
      padding: 50px 0;
    }
  }

  #intro {
    margin: $default-margin;
    padding: 30px;
    text-align: center;
    color: $black;
    background-color:  rgba($color: $white, $alpha: 0.5);
  }

  #portfolio {
    display: flex;
    flex-wrap: wrap;

    .projects-container-main {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;

      .project-container {
        margin:10px;
      }
    }
  }

  #experience {
    width: calc(100% - 80px);
    padding: 40px;

    .background {
      flex-direction: row;
    }
  }

  
  #contact {
    .contact_container {
    display: grid;
    grid-template-areas: 
    "image info"
    "image links";
    
      .contact_image {
      align-items: flex-end;
        grid-area: image;
      }
      .contact_info {
        grid-area: info;
      }
      .contact_links_container {
        text-align: center;
        grid-area: links;
      }
    }
  }
}