@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  color: #f3f3f3;
  background-color: #000033;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav .logo h1 {
  height: 100%;
  padding-left: 25px;
  font-size: 28px;
  font-weight: normal;
}
nav .menu {
  font-size: 30px;
  font-weight: bold;
  padding-right: 10px;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}
nav .nav-links {
  display: none;
  text-decoration: none;
  font-size: 20px;
}
nav .nav-links .nav {
  color: #f3f3f3;
  text-decoration: none;
}
nav:hover .nav-links, nav.--show .nav-links {
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  padding: 20px;
  background-color: #000033;
}
nav:hover .nav-links .nav, nav.--show .nav-links .nav {
  margin: 10px;
}

.heading {
  font-size: 35px;
  color: #000033;
  display: flex;
  justify-content: center;
}

#about {
  width: 100%;
  padding: 100px 0;
  background-image: url(../image/background-unsplash.jpg);
  background-size: cover;
}
#about .name {
  margin: 50px;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
  color: #000033;
}
#about .name p {
  font-size: 35px;
}

#intro .intro {
  padding: 30px;
  color: #000000;
}
#intro .intro .p {
  margin-bottom: 15px;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 50px;
}
#portfolio .projects-container-main {
  margin: 50px 0;
}
#portfolio .projects-container-main .project {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio .projects-container-main .project p {
  margin-bottom: 10px;
}
#portfolio .projects-container-main .project .box {
  width: 400px;
  height: 300px;
  background-color: #000033;
  color: #f3f3f3;
  background-image: url("https://via.placeholder.com/300");
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .projects-container-main .project .box.project-one {
  background-image: url("../image/calculator-project.png");
}
#portfolio .projects-container-main .project .box .project-img {
  width: 100%;
  height: 100%;
}
#portfolio .projects-container-main .project .box .description {
  height: calc(100% - 40px);
  padding: 20px;
  text-align: center;
}
#portfolio .projects-container-main .project .box .description p {
  display: none;
}
#portfolio .projects-container-main .project .box:hover {
  background-image: none;
}
#portfolio .projects-container-main .project .box:hover .description {
  display: flex;
  align-items: center;
}
#portfolio .projects-container-main .project .box:hover .description p {
  display: block;
}
#portfolio .projects-container-main .project .links {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
#portfolio .projects-container-main .project .links .link {
  color: #000000;
  margin-top: 10px;
  font-size: 40px;
}

#experience {
  width: calc(100% - 60px);
  padding: 30px;
}
#experience .background {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
#experience .background .history {
  margin: 20px;
  text-align: center;
}
#experience .background .history h3 {
  font-style: italic;
  color: #000033;
}
#experience .background .history .icons-container {
  padding: 20px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#experience .background .history .icons-container .icon {
  padding: 20px;
  transition: transform 1s;
}
#experience .background .history .icons-container .icon:hover {
  transform: rotate(360deg);
}

#contact {
  width: 100%;
}
#contact .contact_container {
  background-color: #000033;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f3f3f3;
  width: calc(100% - 80px);
}
#contact .contact_container .contact_image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  padding-top: 12px;
}
#contact .contact_container .contact_image .contact-img {
  width: 220px;
  height: 220px;
  border: 2px solid black;
  border-radius: 150px;
}
#contact .contact_container .contact_info {
  margin: 15px;
}
#contact .contact_container .contact_info h2 {
  font-size: 30px;
  margin: 10px 0;
}
#contact .contact_container .contact_info p {
  font-size: 18px;
  margin-bottom: 10px;
}
#contact .contact_container .contact_info p .resume {
  color: #f3f3f3;
}
#contact .contact_container .contact_links_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f3f3f3;
}
#contact .contact_container .contact_links_container .contact-link {
  color: #f3f3f3;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
#contact .contact_container .contact_links_container .contact-link p {
  font-size: 15px;
}
#contact .contact_container .contact_links_container .contact-link .contact-icon {
  color: #f3f3f3;
  font-size: 50px;
}

@media screen and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo h1 {
    font-size: 30px;
  }
  nav .nav-links {
    position: static;
    top: auto;
    right: 10px;
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0;
    background-color: #000033;
    width: 70%;
    justify-content: flex-end;
    padding-right: 15px;
  }
  nav .nav-links .nav {
    margin: 10px;
    font-size: 25px;
    color: #f3f3f3;
    text-decoration: none;
    padding-left: 20px;
  }
  nav:hover .nav-links, nav.--show .nav-links {
    position: static;
    top: auto;
    right: 10px;
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0;
    background-color: #000033;
    width: 70%;
    justify-content: flex-end;
    padding-right: 15px;
  }
  nav .menu {
    display: none;
  }

  #about {
    height: calc(100vh - 200px);
  }
  #about .name {
    font-size: 55px;
    padding: 50px 0;
  }

  #intro {
    margin: 50px;
    padding: 30px;
    text-align: center;
    color: #000000;
    background-color: rgba(243, 243, 243, 0.5);
  }

  #portfolio {
    display: flex;
    flex-wrap: wrap;
  }
  #portfolio .projects-container-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #portfolio .projects-container-main .project-container {
    margin: 10px;
  }

  #experience {
    width: calc(100% - 80px);
    padding: 40px;
  }
  #experience .background {
    flex-direction: row;
  }

  #contact .contact_container {
    display: grid;
    grid-template-areas: "image info" "image links";
  }
  #contact .contact_container .contact_image {
    align-items: flex-end;
    grid-area: image;
  }
  #contact .contact_container .contact_info {
    grid-area: info;
  }
  #contact .contact_container .contact_links_container {
    text-align: center;
    grid-area: links;
  }
}