// Variable 
$dark-blue: midnightblue;
$white: #fff;
$text-stroke: 3px $dark-blue;
$background: rgb(250, 196, 196);
$black: #000000;


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
}

html {
  scroll-behavior: smooth;
}

nav {
  color: $white;
  background-color: $dark-blue;
  height: 8vh;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & a {
    color: $white;
    text-decoration: none;
  }
}
.logo {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu {
  font-size: 30px;
  font-weight: bold;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}
.links {
  display: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about {
  width: 100%;

  .name {
    margin: 50px;
    display: flex;
    justify-content: center;    
    font-size: 40px;
    color: $white;
    text-stroke: $text-stroke;
    -webkit-text-stroke: $text-stroke; 
  }

  .keyword {
    margin: 50px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

      .badge {
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        border: 2px solid black;
        display: inline;
        background-color: midnightblue;
        color: whitesmoke;
        
      }
  }
  .intro {
    margin: 30px;
    margin-top: 0;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
    .p {
      margin-bottom: 15px;
    }
  }
}

#portfolio {
  .project {
    width: 100%;
    padding: 30px;

    h2, p {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .box {
      border: 2px solid black;
      width: calc(100% - 60px);
      height: 300px;
      .description {
        p {
          display: none;
        }
      }
    }
    .links {
      width: calc(100% - 60px);
      display: flex;
      justify-content: space-around;
      .link {
        color: $black;
        font-size: 50px;
        
      }
    }
  }
  
}


// Desktop site
@media screen and (min-width: 768px) {
  .links{ 
    font-weight: bold;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
  }
  .menu {
    display: none;
  }
}