// Variable 
$dark-blue: midnightblue;
$white: #fff;
$text-stroke: 3px $dark-blue;
$background: rgb(218, 189, 219);
$black: #000000;
$default-font-size: 20px;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $default-font-size;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  color: $white;
  background-color: $dark-blue;
  height: 60px;
  width: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & a {
    color: $white;
    text-decoration: none;
  }
  &:hover, &.--show {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: auto;
      padding: 20px;
      background-color: $dark-blue;

      .nav {
        margin: 10px;
      }
    }
  }
}

.logo {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  font-size: 30px;
  font-weight: bold;
  padding-right: 25px;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

.nav-links {
  display: none;
}

.heading {
  font-size: 35px;
  color: $dark-blue;
  display: flex;
  justify-content: center;
}

#about {
  width: 100%;
  padding-top: 80px;
  background-image: url(./background-unsplash.jpg);

  .name {
    margin: 50px;
    display: flex;
    justify-content: center;    
    font-size: 45px;
    color: $white;
    text-stroke: $text-stroke;
    -webkit-text-stroke: $text-stroke; 
  }

  .keyword {
    margin: 50px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

      .badge {
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        border: 2px solid black;
        display: inline;
        background-color: midnightblue;
        color: whitesmoke;
        font-variant: small-caps;
      }
  }
  .intro {
    margin: 30px;
    margin-top: 0;
   
    .p {
      margin-bottom: 15px;
    }
  }
  .aws-badges {
    text-align: center;
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  .project {
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2, p {
      margin-bottom: 10px;
    }

    .box {
      border: 2px solid black;
      border-radius: 30px;
      width: 400px;
      height: 300px;
      background-color: $dark-blue;
      color: $white;
      background-image: url('https://via.placeholder.com/300');
      background-size: cover;
      background-repeat: no-repeat;

      .project-img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
      }

      .description {
        padding: 20px;
        text-align: center;

        p {
          display: none;
        }
      }

      &:hover {
        background-image: none;

        .description{
          p {
            display: block;
          }
        }
      }
    }

    .links {
      width: 400px;
      display: flex;
      justify-content: space-around;

      .link {
        color: $black;
        margin-top: 10px;
        font-size: 40px;
      }
    }
  }
}

#experience {
  width: calc(100% - 60px);
  padding: 30px;
  
  .background {
    margin: 50px 0;
    display: flex;
    flex-direction: column;

    h2 {
      color: $dark-blue;
    }

    p {     
      margin-top: 10px;
    }
    
  }
  .history {
    h3 { 
    font-style: italic;
    color: $dark-blue;
    }

    .lists {
      margin: 20px;
      margin-left: 50px;
    }
  }
}

#contact {
  width: 100%;

  .contact_container {
    background-color: $dark-blue;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    width: calc(100% - 80px);

    .contact_image {      
      width: 220px;
      height: 220px;
      border: 2px solid black;
      border-radius: 150px;
    }

    .contact_info {
      margin: 15px;

      h2 {
        font-size: 30px;
        margin: 10px 0;
      }

      p {
        font-size: 18px;
        margin-bottom: 10px;

        .resume {
          color: $background;
        }
      }
    }

    .contact_links_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $white;

      .contact-link {
        color: $white;
        margin: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        p {
          font-size: 15px;
        }

        .contact-icon {
          color: $white;          
          font-size: 50px;
        }
      }
    }
  }
}


// Tablet site
@media screen and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & a {
      color: $white;
      text-decoration: none;
    }
    &:hover, &.--show {
      .nav-links {
        position: static;
        top: auto;
        right: 10px;
        display: flex;
        flex-direction: row;
        width: auto;
        padding: 0;
        background-color: $dark-blue;
        font-weight: bold;
        width: 70%;
        justify-content: flex-end;
      }
    }
    .nav-links {
      position: static;
      top: auto;
      right: 10px;
      display: flex;
      flex-direction: row;
      width: auto;
      padding: 0;
      background-color: $dark-blue;
      font-weight: bold;
      width: 70%;
      justify-content: flex-end;

      .nav {
        margin: 10px;
      }
    }

    .menu {
      display: none;
    }
  }
  #about {
    height: calc(100vh - 80px);

    .name {
      font-size: 55px;
    }
    .intro {
      margin: 50px;
      text-align: center;
    }
  }
  #portfolio {
    display: flex;
    flex-wrap: wrap;

    .projects-container-main {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;

      .project-container {
        margin:10px;
      }
    }
  }
  #experience {
    width: calc(100% - 80px);
    padding: 40px;
  }
}